{% extends "./base.html" %}

{% block results %}
	<div id='content_left'>
		<span>NPV</span><br />
		<span>Accrued Interest</span><br />
		<span>BPS</span><br />
		<span>Basis Point Value</span><br />
		<span>Yield Value Basis</span><br />
		<span>Z Spread</span><br />
		<span>Yield to Maturity</span><br />
	</div>
	<div id='content_right'>
		<span id="NPV">{{ instrument.result_npv }}</span><br />
		<span id="Accrued">{{ instrument.result_accrued }}</span><br />
		<span id="BPS">{{ instrument.result_bps }}</span><br />
		<span id="Basis Point Value">{{ instrument.result_basis_pt_value }}</span><br />
		<span id="Yield Value Basis Points">{{ instrument.result_yield_value_bp }}</span><br />
		<span id="Z Spread">{{ instrument.result_spread }}</span><br />
		<span id="Yield to Maturity">{{ instrument.result_yield_to_maturity }}</span><br />
	</div>
{% endblock results %}

{% block terms_and_conditions %}
	<div id='content_left'>
		<span>Val Date</span><br />
		<span>Maturity Date</span><br />
		<span>Face</span><br />
		<span>Payment Frequency</span><br />
		<span>Current Floating Rate</span><br />
		<span>Spread</span><br />
		<span>Credit Spread</span><br />
		<span>Market Value</span><br />
		<span>Term Structure 1M</span><br />
		<span>Term Structure 3M</span><br />
		<span>Term Structure 6M</span><br />
		<span>Term Structure 1y</span><br />
		<span>Term Structure 2y</span><br />
		<span>Term Structure 3y</span><br />
		<span>Term Structure 5y</span><br />
		<span>Term Structure 7y</span><br />
		<span>Term Structure 10y</span><br />
		<span>Term Structure 20y</span><br />
		<span>Term Structure 30y</span>
	</div>
	<div id='content_right'>
		<span>{{ instrument.valuation_date }}</span><br />
		<span>{{ instrument.maturity_date }}</span><br />
		<span>{{ instrument.face }}</span><br />
		<span>{{ instrument.payment_frequency }}</span><br />
		<span>{{ instrument.current_floating_rate }}</span><br />
		<span>{{ instrument.spread }}</span><br />
		<span>{{ instrument.credit_spread }}</span><br />
		<span>{{ instrument.market_value }}</span><br />
		<span>{{ instrument.term_structure_1m }}</span><br />
		<span>{{ instrument.term_structure_3m }}</span><br />
		<span>{{ instrument.term_structure_6m }}</span><br />
		<span>{{ instrument.term_structure_1y }}</span><br />
		<span>{{ instrument.term_structure_2y }}</span><br />
		<span>{{ instrument.term_structure_3y }}</span><br />
		<span>{{ instrument.term_structure_5y }}</span><br />
		<span>{{ instrument.term_structure_7y }}</span><br />
		<span>{{ instrument.term_structure_10y }}</span><br />
		<span>{{ instrument.term_structure_20y }}</span><br />
		<span>{{ instrument.term_structure_30y }}</span>
	</div>
{% endblock terms_and_conditions %}
